.para-bg {
    background-color:#101e33 ;
    
    padding: 20px;
    width: 90%;
   
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 0px solid #ffffff;
    border-radius: 10px; 
    margin-left: 15px;
    align-self: start;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}


.para-head {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #F3797E;
    font-size: 22px;
    font-weight: bold;
} 

.card-bg {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
} 

.small-bg {
    margin-right:25px;
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    margin-top: 5px;
}
.pa-para,.sm-p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ffffff;
}

.sm-h {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 22px;
    color:#F3797E ;
}



@media screen and (min-width:768px) {
    .para-bg {
        width: 40%;
    }
}