.main-card {
    background-color: #101e33;
    border: 0px solid #101e33;
    border-radius: 8px; 
    width: 90%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: start;
    margin: 15px; 
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    

} 

.main-head {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    align-items: center;
    font-weight: 500;
    color: #F3797E;
    margin-top: 15px;

    
}

.id-head {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:#ffffff ;
    font-size: 27px;
}

.para {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 12px;
    margin-bottom: 20px;
    color: #ffffff;
} 

.line {
    width: 100%;
    border: 0.5px solid #ffffff;
}

.line2 {
    width: 10%;
    border: 0.5px solid #ffffff;
    margin-bottom: 20px;
    margin-top: 0px;
} 

.bottom-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.name-card {
    display: flex;
    flex-direction: column;
    
} 

.name {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    color: #ffffff;
}

.join-date {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 8px;
    color: black;
    font-weight: 400;
}

.membership {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 13px;
    color: #F3797E;
    margin-left: 35px;
    
}

@media screen and (min-width:768px) {
    .main-card {
        width: 40%;
    }
}



