.bg {
  background-color:#101e33 ;
  
  display: flex;
  background-size: cover;
  flex-direction: column;
  align-items: center;


}

.s-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
} 

.s-row2 {
  display: none;
}


@media screen and (min-width:768px) {
  .second-bg {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

  }
  .s-row2 {
    display: block;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  } 
  .bg {
    
    background-size: cover;
  }
} 

@media screen and (min-height:1025px) {
  .bg {
    height: 100vh;
    background-size: cover;
  }
  
}


@media screen and (min-width:992px) {
  .bg {
    
    background-size: cover;
    height: 100vh;
    flex-direction: row;
    align-items: center;
    padding: 20px;
  } 
  
  
}




