.active-bg {
    background-color: #ffffff;
    height: 230px;
    width: 200px; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 0px solid #ffffff; 
    margin-right: 20px;
    
    
} 

.top-head {
    
    font-size: 10px;
    color:black;
    font-family: "Roboto";
    font-weight: 800; 
    margin-top: 15px;
    background-color: #ecfccb;
    border: 0px solid #E55451;
    padding: 5px;

} 

.id {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    font-size: 28px;
} 

.butt {
    background-color: transparent;
    border: 0.5px solid gray;
    border-radius: 25px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    color: #32ad53;
} 

.lineuu {
    margin-bottom: 0px;
    border: 1px solid #84cc16;
    background-color: #84cc16;
    padding-top: 5px;
    width: 100%;
}